body {
  background-color: grey;
}

h1 {
  font-size: 7em;
  text-align: center;
}

.card {
  border: 1px grey;
  border-radius: 10px;
  background-color: black;
  box-shadow: 10px 10px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card h2 {
  font-family: Arial, sans-serif;
  margin: 0;
  color: #d3972d;
}

.card p {
  font-family: Arial, sans-serif;
  color: #bd882b;
}

