body {
  background-color: grey;
  height: 120vh;
}

.header {
  font-size: 7em;
  text-align: center;
  margin-bottom: 3px;
}

.sub-header {
  font-size: 1.5em;
  text-align: center;
  margin-top: 3px;
}

.nav-header {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  font-size: 1.5em;
  margin-top: 5px;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #bd882b;
  text-decoration: underline;
}

.card {
  border: 1px grey;
  border-radius: 10px;
  background-color: black;
  box-shadow: 10px 10px 5px hsl(38, 65%, 50%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card h2 {
  font-family: Arial, sans-serif;
  margin: 0;
  color: #d3972d;
}

.card p {
  font-family: Arial, sans-serif;
  color: #bd882b;
}

