
/* ShimmerEffect.css */
@keyframes shimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.shimmer-text {
    color: transparent;
    background-color: #333;
    background-image: linear-gradient(
            to right,
            #333 0%,
            #d3972d 20%,
            #333 40%,
            #333 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 100%;
    display: inline-block;
    animation: shimmer 2s infinite linear;
    -webkit-background-clip: text;
    background-clip: text;
}
